<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://radio2.be/sites/default/files/styles/1200x630/public/images/articles/orange-strawberry-peach-cocktails.jpg?itok=9MpvOdsf)">
  <h1>Welcome to Alex's Cocktail Paradise</h1>
</div>

<div class="card" id="title">

 <h4> <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
      <% end %>
  </h4>


  <%= link_to "add a new cocktail", new_cocktail_path  %>

</div>
